<div>
    <nav class="navbar  navbar-static-top" role="navigation"
         style="margin-bottom: 0;height: 120px;overflow: hidden;padding: 20px;">
        <h1 class="pageTitle" style="text-align: center;color:#FF8C00;"> 人员统计</h1>
    </nav>
    <div class="content" style="    overflow: hidden;
    height: 450px;">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="height: 450px;    padding:0;">
            <div class="searchChoice">
                <div class="choiceBox" ui-sref="home.peopleCount">
                    按身份类别统计
                </div><div class="triangle-right-special"></div>
            </div>
            <div class="searchChoice" style="    margin-left: -163px;">
                <div class="choiceBox" style="border-left: none;background: none;padding-left: 40px;padding-right: 0;">
                    按单位类别统计
                </div><div class="triangle-right" style="margin-left: -1px"></div>
            </div>
            <div class="resultList">
                <div class="listCount" >
                    <ul style="  color: white;font-weight: 600;   padding: 120px;
    height: 100%;">
                        <li style="display: flex;justify-content: space-between;" ng-repeat="peo  in praMenuList">
                            <span>{{peo.name}}</span> <span>{{peo.num}}</span>
                        </li>
                    </ul>
                </div>
                <div class="listCount" style="background: white">
                    echarts 饼图
                </div>

            </div>
        </div>
    </div>
    <div class="tips" style="float: right; padding: 30px;
    font-size: 15px;
    color: white;">
        <button style="background: #FF8C00;padding:5px  15px;" ui-sref="home.searchResult">
            返回
        </button>
    </div>

</div>