<div>
    <nav class="navbar  navbar-static-top" role="navigation"
         style="margin-bottom: 0;height: 120px;overflow: hidden;padding: 20px;">
        <h1 class="pageTitle" style="text-align: center;color:#FF8C00;"> 考试成绩过程监测</h1>
    </nav>
    <div class="content" style="    overflow: hidden;
    height: 450px;">
        <div style="text-align: center;padding: 20px">
            <button style="background: #00CD00;border: #1296db solid 1px;  padding: 5px;font-weight:600;border-radius: 4px">
                剩余时间{{'00'}}：{{minuteTime}}：{{secondTime}}
            </button>
        </div>

        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="height: 450px;    padding:0;">
            <div class="resultList" style="background: none">
                <div style="text-align: center;color: white;">
                    考试开始时间：10：00    考试总人数：25人   其中征兵办公室2人 专武干部13人 高校征兵工作10人
                </div>
                <div class="resultContent">
                    <table>
                        <thead>
                        <tr>
                            <td>姓名

                            </td> <td>成绩

                        </td> <td>考试时间

                        </td> <td>备注

                        </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>小哥
                            </td>   <td>100
                        </td>   <td>2017年6月7日
                        </td>   <td>作弊
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="tips" style="float: right; padding: 30px;
    font-size: 15px;
    color: white;">
        <button style="background: #FF8C00;padding:5px  15px;" ui-sref="home.searchResult">
            返回
        </button>
    </div>

</div>